.input-div{
    background-color: rgb(204, 227, 227) ;
}

.input-div{
    border:1px solid black;
}

input{
    border:none;
    outline:none;
    background-color: unset;
}

.input-button{
    width:300px;
}

.input-button button{
    background-color: rgb(16, 81, 202);
    border-radius: 5px;
    width:105px;
}

.modal-boxx{
    position: relative;
    top:50px;
    left:480px;
}

.stack-spacing{
    position:relative;
    bottom: 49px;
}

.data-grid-height{
    height: 100vh;
} 